$background: rgb(36, 34, 34);
$color2: rgb(221, 215, 215);
$color3: #553;
$color4: rgb(255, 255, 255);

body{
    background-color: $background;
    h1{
        color:$color2;
    }
    h2{
        color:$color3;
        }
    p{
        color:$color4;
    }
    }